version: "3.9"

services:
  cyhealth:
    build:
      context: .
      dockerfile: Dockerfile
    restart: unless-stopped
    ports:
      - "8085:8085"
    volumes:
      - ./cyhealth.ini:/etc/cyhealth.ini
